In [69]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

/Users/gcavanaugh/dataiku/dataiku-dss-5.1.5-osx/python.packages/IPython/core/magics/pylab.py:161: UserWarning: pylab import has clobbered these variables: ['modf']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

In [70]:
import dataiku
from dataiku import pandasutils as pdu
import pandas as pd

In [71]:
# Example: load a DSS dataset as a Pandas dataframe
mydataset = dataiku.Dataset("Monthly_Office_Data_with_DM")
modf = mydataset.get_dataframe()

In [72]:
modf.head()

      DM EID DM FN DM LN  OFFICE # OFFICE NAME  Month  Year  WO DEALS  WX DEALS  WO Ees   WO MARGIN  WX Ees  WX RECUR ORDER  REV($PP)  FORECAST EES  # BPAs IN OFFICE EOM  TIER 1 BPAs  TIER 2 BPAs  TIER 3 BPAs  TIER 4 BPAs  TIER 5 BPAs  OPEN  HIRES  PROMOS  VOL# TERMS  INVOL# TERMS  PDPs  SOLD W/ LOYALTY  SOLD W/CHANNELS  SOLD W/ COI  SOLD W/CORP MKT  HOSTED EVENTS  DC Total  T1 DCs  T2 DCs  DC/BP Ratio  WO BP Total  T1 WOBPs  T2 WOBPs  WO Prop Total  WX BP Total  T1 WXBPs  T2 WXBPs  WX Prop Total
0  2065934.0   Don  Alix       302   Phoenix 2      1  2018       1.0       NaN    22.0  154.636364     NaN             NaN       NaN            26                     9            7            2            0            1            0     0      0       0           0             0     0              1.0              0.0          0.0              1.0            0.0        28      21       5    25.000000            7         3         2              5            0         0         0              0
1  2065934.0   Don  Alix       302   Phoenix 2      2  2018       2.0       NaN    30.0  177.166667     NaN             NaN       NaN            38                     9            7            2            0            1            0     0      0       0           0             0     0              2.0              0.0          1.0              NaN            2.0        31      15       6    32.258065           10         5         2              2            0         0         0              0
2  2065934.0   Don  Alix       302   Phoenix 2      3  2018       4.5       NaN   141.0  161.879433     NaN             NaN       NaN            51                     8            7            2            0            1            0     1      0       0           1             0     3              2.0              0.0          1.0              1.0            2.0        67      39      13    31.343284           21        12         4             10            0         0         0              1
3  2065934.0   Don  Alix       302   Phoenix 2      4  2018       3.0       NaN    42.0  164.785714     NaN             NaN       NaN            55                     8            7            2            0            1            0     1      0       0           0             0     0              0.0              0.0          0.0              1.0            5.0        47      19      15    40.425532           19         7         3             14            0         0         0              0
4  2065934.0   Don  Alix       302   Phoenix 2      5  2018       1.5       NaN    47.0  176.936170     NaN             NaN       NaN            64                     9            7            2            0            1            0     0      1       0           0             0     0              1.5              1.0          0.0              NaN            2.0        60      34      18    40.000000           24        14         5              7            0         0         0              0

In [73]:
modf['DM_NAME'] = modf['DM FN'] + " " + modf['DM LN']

In [74]:
modf.tail()

        DM EID DM FN DM LN  OFFICE #  OFFICE NAME  Month  Year  WO DEALS  WX DEALS  WO Ees   WO MARGIN  WX Ees  WX RECUR ORDER  REV($PP)  FORECAST EES  # BPAs IN OFFICE EOM  TIER 1 BPAs  TIER 2 BPAs  TIER 3 BPAs  TIER 4 BPAs  TIER 5 BPAs  OPEN  HIRES  PROMOS  VOL# TERMS  INVOL# TERMS  PDPs  SOLD W/ LOYALTY  SOLD W/CHANNELS  SOLD W/ COI  SOLD W/CORP MKT  HOSTED EVENTS  DC Total  T1 DCs  T2 DCs  DC/BP Ratio  WO BP Total  T1 WOBPs  T2 WOBPs  WO Prop Total  WX BP Total  T1 WXBPs  T2 WXBPs  WX Prop Total    DM_NAME
768  2854399.0  Mike  Goss      5001  Milwaukee 1      8  2018       0.5       NaN    15.0  134.000000     NaN             NaN       NaN            38                     8            8            0            0            0            0     0      0       0           0             0     0              0.0              0.0          0.0              NaN            NaN        58      58       0    10.344828            6         6         0              5            1         1         0              1  Mike Goss
769  2854399.0  Mike  Goss      5001  Milwaukee 1      9  2018       1.0       NaN     3.0  271.000000     NaN             NaN       NaN            53                     8            8            0            0            0            0     0      0       0           1             0     0              0.0              0.0          0.0              1.0            NaN        63      63       0    26.984127           17        17         0              6            2         2         0              2  Mike Goss
770  2854399.0  Mike  Goss      5001  Milwaukee 1     10  2018       0.5       NaN     4.0  213.000000     NaN             NaN       NaN            58                     8            8            0            0            0            0     0      0       0           0             0     1              0.0              0.0          0.0              1.0            NaN        66      66       0    15.151515           10        10         0             11            1         1         0              0  Mike Goss
771  2854399.0  Mike  Goss      5001  Milwaukee 1     11  2018       2.0       NaN    17.0  198.647059     NaN             NaN       NaN            62                     8            8            0            0            0            0     0      0       0           0             0     0              0.0              0.0          0.0              2.0            NaN        40      40       0    10.000000            4         4         0              7            0         0         0              1  Mike Goss
772  2854399.0  Mike  Goss      5001  Milwaukee 1     12  2018       1.5       NaN    11.0  210.363636     NaN             NaN       NaN            60                     8            8            0            0            0            0     0      0       0           0             0     0              0.0              0.0          0.0              NaN            NaN        24      24       0    16.666667            4         4         0              2            0         0         0              0  Mike Goss

In [75]:
mydataset = dataiku.Dataset("DM_OFFICE_REGION")
dmdf = mydataset.get_dataframe()

In [76]:
dmdf.head()

         DIST_MGR                OFFICE   REGION  Avg Margin % DM  AVG M+R DM
0  Abdiel Sanchez    0504 Los Angeles 4  Western         0.025810  149.186325
1     Allen Cohen    4403 San Antonio 1  Central         0.027179  144.152838
2     Andy Cullen  3701 Oklahoma City 1  Central         0.023632  156.728818
3      Bill Brown         4404 Dallas 1  Central         0.024932  179.184653
4       Bill Hamm         4406 Dallas 2  Central         0.028486  191.429496

In [77]:
dmdf.tail()

   DIST_MGR OFFICE           REGION  Avg Margin % DM  AVG M+R DM
68      NaN    NaN       BP per BPA              NaN         NaN
69      NaN    NaN      BP/DC Ratio              NaN         NaN
70      NaN    NaN      Close Ratio              NaN         NaN
71      NaN    NaN   Maturity Score              NaN         NaN
72      NaN    NaN  Manager Calls %              NaN         NaN

In [78]:
dmdf_new = dmdf[dmdf['OFFICE'].notnull()]

In [79]:
dmdf_new.tail()

          DIST_MGR           OFFICE     REGION  Avg Margin % DM  AVG M+R DM
56       Ted Stone   1403 Chicago 3    Eastern         0.024028  139.324816
57  Tony Zapotocky   1402 Chicago 2    Eastern         0.033488  162.318440
58     Trent Feist    0602 Denver 2    Western         0.024303  179.813534
59    Warren Armes    2201 Boston 2  Northeast         0.021526  149.560623
60      Zac Mutrux  0561 San Jose 1    Western         0.021463  209.361383

In [80]:
dmdf_new.head()

         DIST_MGR                OFFICE   REGION  Avg Margin % DM  AVG M+R DM
0  Abdiel Sanchez    0504 Los Angeles 4  Western         0.025810  149.186325
1     Allen Cohen    4403 San Antonio 1  Central         0.027179  144.152838
2     Andy Cullen  3701 Oklahoma City 1  Central         0.023632  156.728818
3      Bill Brown         4404 Dallas 1  Central         0.024932  179.184653
4       Bill Hamm         4406 Dallas 2  Central         0.028486  191.429496

In [81]:
dmdf_new['office_number'] = dmdf_new['OFFICE'].apply(lambda x: x.split()[0])

/Users/gcavanaugh/dataiku/dataiku-dss-5.1.5-osx/python.packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [82]:
dmdf_new['office_number'] = dmdf_new['office_number'].astype('float64')

/Users/gcavanaugh/dataiku/dataiku-dss-5.1.5-osx/python.packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [83]:
dmdf_new.head()

         DIST_MGR                OFFICE   REGION  Avg Margin % DM  AVG M+R DM  office_number
0  Abdiel Sanchez    0504 Los Angeles 4  Western         0.025810  149.186325          504.0
1     Allen Cohen    4403 San Antonio 1  Central         0.027179  144.152838         4403.0
2     Andy Cullen  3701 Oklahoma City 1  Central         0.023632  156.728818         3701.0
3      Bill Brown         4404 Dallas 1  Central         0.024932  179.184653         4404.0
4       Bill Hamm         4406 Dallas 2  Central         0.028486  191.429496         4406.0

In [84]:
modf['office_number'] = modf['OFFICE #']

In [85]:
modf.office_number.describe()

count     773.000000
mean     2475.975420
std      1536.746754
min       302.000000
25%      1001.000000
50%      2400.000000
75%      3921.000000
max      5001.000000
Name: office_number, dtype: float64

In [86]:
dmdf_new.office_number.describe()

count      61.000000
mean     2521.393443
std      1567.695541
min       302.000000
25%      1041.000000
50%      2400.000000
75%      4301.000000
max      5001.000000
Name: office_number, dtype: float64

In [87]:
modf.head()

      DM EID DM FN DM LN  OFFICE # OFFICE NAME  Month  Year  WO DEALS  WX DEALS  WO Ees   WO MARGIN  WX Ees  WX RECUR ORDER  REV($PP)  FORECAST EES  # BPAs IN OFFICE EOM  TIER 1 BPAs  TIER 2 BPAs  TIER 3 BPAs  TIER 4 BPAs  TIER 5 BPAs  OPEN  HIRES  PROMOS  VOL# TERMS  INVOL# TERMS  PDPs  SOLD W/ LOYALTY  SOLD W/CHANNELS  SOLD W/ COI  SOLD W/CORP MKT  HOSTED EVENTS  DC Total  T1 DCs  T2 DCs  DC/BP Ratio  WO BP Total  T1 WOBPs  T2 WOBPs  WO Prop Total  WX BP Total  T1 WXBPs  T2 WXBPs  WX Prop Total   DM_NAME  office_number
0  2065934.0   Don  Alix       302   Phoenix 2      1  2018       1.0       NaN    22.0  154.636364     NaN             NaN       NaN            26                     9            7            2            0            1            0     0      0       0           0             0     0              1.0              0.0          0.0              1.0            0.0        28      21       5    25.000000            7         3         2              5            0         0         0              0  Don Alix            302
1  2065934.0   Don  Alix       302   Phoenix 2      2  2018       2.0       NaN    30.0  177.166667     NaN             NaN       NaN            38                     9            7            2            0            1            0     0      0       0           0             0     0              2.0              0.0          1.0              NaN            2.0        31      15       6    32.258065           10         5         2              2            0         0         0              0  Don Alix            302
2  2065934.0   Don  Alix       302   Phoenix 2      3  2018       4.5       NaN   141.0  161.879433     NaN             NaN       NaN            51                     8            7            2            0            1            0     1      0       0           1             0     3              2.0              0.0          1.0              1.0            2.0        67      39      13    31.343284           21        12         4             10            0         0         0              1  Don Alix            302
3  2065934.0   Don  Alix       302   Phoenix 2      4  2018       3.0       NaN    42.0  164.785714     NaN             NaN       NaN            55                     8            7            2            0            1            0     1      0       0           0             0     0              0.0              0.0          0.0              1.0            5.0        47      19      15    40.425532           19         7         3             14            0         0         0              0  Don Alix            302
4  2065934.0   Don  Alix       302   Phoenix 2      5  2018       1.5       NaN    47.0  176.936170     NaN             NaN       NaN            64                     9            7            2            0            1            0     0      1       0           0             0     0              1.5              1.0          0.0              NaN            2.0        60      34      18    40.000000           24        14         5              7            0         0         0              0  Don Alix            302

In [88]:
#result = pd.merge(user_usage,
#                 user_device[['use_id', 'platform', 'device']],
#                 on='use_id')

In [89]:
dmdf_new[['office_number', 'REGION']].head()

   office_number   REGION
0          504.0  Western
1         4403.0  Central
2         3701.0  Central
3         4404.0  Central
4         4406.0  Central

In [90]:
result_df = pd.merge(modf,
                     dmdf_new[['office_number', 'REGION']],
                     on='office_number')

In [91]:
result_df.tail()

        DM EID DM FN DM LN  OFFICE #  OFFICE NAME  Month  Year  WO DEALS  WX DEALS  WO Ees   WO MARGIN  WX Ees  WX RECUR ORDER  REV($PP)  FORECAST EES  # BPAs IN OFFICE EOM  TIER 1 BPAs  TIER 2 BPAs  TIER 3 BPAs  TIER 4 BPAs  TIER 5 BPAs  OPEN  HIRES  PROMOS  VOL# TERMS  INVOL# TERMS  PDPs  SOLD W/ LOYALTY  SOLD W/CHANNELS  SOLD W/ COI  SOLD W/CORP MKT  HOSTED EVENTS  DC Total  T1 DCs  T2 DCs  DC/BP Ratio  WO BP Total  T1 WOBPs  T2 WOBPs  WO Prop Total  WX BP Total  T1 WXBPs  T2 WXBPs  WX Prop Total    DM_NAME  office_number   REGION
720  2854399.0  Mike  Goss      5001  Milwaukee 1      8  2018       0.5       NaN    15.0  134.000000     NaN             NaN       NaN            38                     8            8            0            0            0            0     0      0       0           0             0     0              0.0              0.0          0.0              NaN            NaN        58      58       0    10.344828            6         6         0              5            1         1         0              1  Mike Goss           5001  Eastern
721  2854399.0  Mike  Goss      5001  Milwaukee 1      9  2018       1.0       NaN     3.0  271.000000     NaN             NaN       NaN            53                     8            8            0            0            0            0     0      0       0           1             0     0              0.0              0.0          0.0              1.0            NaN        63      63       0    26.984127           17        17         0              6            2         2         0              2  Mike Goss           5001  Eastern
722  2854399.0  Mike  Goss      5001  Milwaukee 1     10  2018       0.5       NaN     4.0  213.000000     NaN             NaN       NaN            58                     8            8            0            0            0            0     0      0       0           0             0     1              0.0              0.0          0.0              1.0            NaN        66      66       0    15.151515           10        10         0             11            1         1         0              0  Mike Goss           5001  Eastern
723  2854399.0  Mike  Goss      5001  Milwaukee 1     11  2018       2.0       NaN    17.0  198.647059     NaN             NaN       NaN            62                     8            8            0            0            0            0     0      0       0           0             0     0              0.0              0.0          0.0              2.0            NaN        40      40       0    10.000000            4         4         0              7            0         0         0              1  Mike Goss           5001  Eastern
724  2854399.0  Mike  Goss      5001  Milwaukee 1     12  2018       1.5       NaN    11.0  210.363636     NaN             NaN       NaN            60                     8            8            0            0            0            0     0      0       0           0             0     0              0.0              0.0          0.0              NaN            NaN        24      24       0    16.666667            4         4         0              2            0         0         0              0  Mike Goss           5001  Eastern

In [92]:
result_df.columns

Index([u'DM EID', u'DM FN', u'DM LN', u'OFFICE #', u'OFFICE NAME', u'Month', u'Year', u'WO DEALS', u'WX DEALS', u'WO Ees', u'WO MARGIN', u'WX Ees', u'WX RECUR ORDER', u'REV($PP)', u'FORECAST EES', u'# BPAs IN OFFICE EOM', u'TIER 1 BPAs', u'TIER 2 BPAs', u'TIER 3 BPAs', u'TIER 4 BPAs', u'TIER 5 BPAs', u'OPEN', u'HIRES', u'PROMOS', u'VOL# TERMS', u'INVOL# TERMS', u'PDPs', u'SOLD W/ LOYALTY', u'SOLD W/CHANNELS', u'SOLD W/ COI', u'SOLD W/CORP MKT', u'HOSTED EVENTS', u'DC Total', u'T1 DCs', u'T2 DCs', u'DC/BP Ratio', u'WO BP Total', u'T1 WOBPs', u'T2 WOBPs', u'WO Prop Total', u'WX BP Total', u'T1 WXBPs', u'T2 WXBPs', u'WX Prop Total', u'DM_NAME', u'office_number', u'REGION'], dtype='object')

In [93]:
result_df.pivot_table(values=['WO Ees','# BPAs IN OFFICE EOM', 'DC Total', 'WO DEALS'], index='REGION')

           # BPAs IN OFFICE EOM   DC Total  WO DEALS     WO Ees
REGION
Central                8.024510  42.985294  3.441327  72.326531
Eastern                8.247312  53.569892  3.421988  62.900621
Northeast              7.688623  44.796407  3.278471  80.331210
Western                8.035714  39.232143  3.399805  70.714286

In [94]:
result_df['WO Ees'].mean()

71.56437125748504

In [95]:
result_df['WO Ees'].describe()['min']

0.0

In [96]:
pivot_df = result_df.pivot_table(values=['WO Ees','# BPAs IN OFFICE EOM', 'DC Total', 'WO DEALS'], index=['REGION', 'DM_NAME'])

In [97]:
pivot_df.head()

                     # BPAs IN OFFICE EOM   DC Total  WO DEALS      WO Ees
REGION  DM_NAME
Central Allen Cohen              6.750000  42.250000  2.479167   61.083333
        Andy Cullen              5.166667  27.833333  1.517778   32.888889
        Bill Brown               7.666667  37.000000  1.458333   32.416667
        Bill Hamm                7.666667  43.500000  4.290000   59.500000
        Chad Smith               8.750000  45.583333  5.062500  110.416667

In [98]:
[result_df['WO Ees'].describe()['min'], 
          result_df['WO Ees'].describe()['25%'],
          result_df['WO Ees'].describe()['50%'],
          result_df['WO Ees'].describe()['75%'],
          result_df['WO Ees'].describe()['max']]

[0.0, 24.0, 59.0, 99.25, 425.0]

In [99]:
foo = [x for x in result_df['DM_NAME'].unique()][:5]

In [100]:
pivot_df.columns

Index([u'# BPAs IN OFFICE EOM', u'DC Total', u'WO DEALS', u'WO Ees'], dtype='object')

In [101]:
result_df[result_df['DM_NAME'] == foo[0]]['WO Ees'].mean()

78.16666666666667

In [102]:
[result_df[result_df['DM_NAME'] == x]['WO Ees'].mean() for x in foo]

[78.16666666666667,
 85.58333333333333,
 59.9,
 61.583333333333336,
 117.91666666666667]

In [103]:
[5 for x in foo]

[5, 5, 5, 5, 5]

In [107]:
foo = [x for x in result_df['DM_NAME'].unique()][:1]
foo

['Don Alix']

In [115]:
[result_df[result_df.DM_NAME == 'Don Alix']['DM_NAME'][0]]

['Don Alix']

In [127]:
x = result_df.groupby(by='DM_NAME')['WO Ees'].mean()
x.head()

DM_NAME
Abdiel Sanchez    117.916667
Allen Cohen        61.083333
Andy Cullen        32.888889
Bill Brown         32.416667
Bill Hamm          59.500000
Name: WO Ees, dtype: float64

In [126]:
x['Abdiel Sanchez']

117.91666666666667

In [ ]:
y = x.to_dict

In [168]:
gg = result_df.pivot_table(values=['WO Ees'], index=['DM_NAME'])
gg.loc['Allen Cohen'].values

array([61.08333333])

In [169]:
type(gg)

pandas.core.frame.DataFrame

In [155]:
type(gg.loc['Allen Cohen'])

pandas.core.series.Series

In [156]:
gg.head()

                    WO Ees
DM_NAME
Abdiel Sanchez  117.916667
Allen Cohen      61.083333
Andy Cullen      32.888889
Bill Brown       32.416667
Bill Hamm        59.500000

In [162]:
result_df[result_df.DM_NAME == 'Don Alix']['WO Ees'].mean()

78.16666666666667

In [170]:
gg.reset_index(level=0, inplace=True)
gg.head()

          DM_NAME      WO Ees
0  Abdiel Sanchez  117.916667
1     Allen Cohen   61.083333
2     Andy Cullen   32.888889
3      Bill Brown   32.416667
4       Bill Hamm   59.500000

In [174]:
gg[gg['DM_NAME'] == 'Allen Cohen']

       DM_NAME     WO Ees
1  Allen Cohen  61.083333

In [175]:
wo_df = result_df.pivot_table(values=['WO Ees'], index=['DM_NAME'])
wo_df.reset_index(level=0, inplace=True)

In [178]:
wo_df[wo_df['DM_NAME'] == 'Don Alix']

17    Don Alix
Name: DM_NAME, dtype: object

In [179]:
from bokeh.models import ColumnDataSource

In [181]:
source = ColumnDataSource(wo_df[wo_df['DM_NAME'] == 'Don Alix'])

In [183]:
source.data

{'DM_NAME': array(['Don Alix'], dtype=object),
 u'WO Ees': array([78.16666667]),
 'index': array([17])}

In [184]:
source.data['DM_NAME']

array(['Don Alix'], dtype=object)

In [185]:
source.data['WO Ees']

array([78.16666667])

In [186]:
data= [("John Smith", 105, 120),
       ("Jane Jones", 99, 110),
       ("Fred Flintstone", 109, 125),
       ("Barney Rubble", 135, 123),
       ("Mr T", 45, 105)]

In [187]:
[x[0] for x in data]

['John Smith', 'Jane Jones', 'Fred Flintstone', 'Barney Rubble', 'Mr T']